# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../output_data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Yulara,75,AU,1635037176,22,-25.2406,130.9889,75.04,20.71
1,Arrifes,20,PT,1635037177,72,37.7667,-25.7000,64.65,8.05
2,Hobart,75,AU,1635036859,71,-42.8794,147.3294,54.10,5.01
3,Westport,89,US,1635037049,79,41.1415,-73.3579,57.79,3.00
4,Esperance,2,AU,1635037177,44,-33.8667,121.9000,62.44,16.44
...,...,...,...,...,...,...,...,...,...
553,Derby,75,GB,1635037352,76,52.9228,-1.4766,53.51,12.66
554,Haines Junction,95,CA,1635037271,85,60.7522,-137.5108,36.32,4.29
555,Luganville,38,VU,1635037353,73,-15.5333,167.1667,83.52,8.43
556,Wattegama,96,LK,1635037353,87,6.7989,81.4808,74.32,1.36
557,Camacha,40,PT,1635037353,56,33.0833,-16.3333,66.96,9.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"]

In [4]:
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
29,Geraldton,0,AU,1635037043,56,-28.7667,114.6000,70.21,1.14
86,San Patricio,0,US,1635037196,69,28.0170,-97.5169,79.84,9.48
89,Beira,0,MZ,1635037180,85,-19.8436,34.8389,73.18,6.98
138,Carnarvon,0,AU,1635037220,49,-24.8667,113.6333,78.44,9.40
167,Saint-Pierre,0,RE,1635037229,77,-21.3393,55.4781,74.84,4.61
271,Sawākin,0,SD,1635037256,76,19.1059,37.3321,79.27,5.84
276,Alīganj,0,IN,1635037258,67,27.5000,79.1833,70.59,4.88
280,Baberu,0,IN,1635037259,64,25.5500,80.7167,71.55,4.68
430,Aswān,0,EG,1635037246,43,24.0934,32.9070,71.04,9.53
471,Atar,0,MR,1635037183,18,20.5169,-13.0499,78.94,7.70
547,Buraidah,0,SA,1635037164,19,26.3260,43.9750,72.05,10.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

             City Country      Lat       Lng Hotel Name
29      Geraldton      AU -28.7667  114.6000
86   San Patricio      US  28.0170  -97.5169
89          Beira      MZ -19.8436   34.8389
138     Carnarvon      AU -24.8667  113.6333
167  Saint-Pierre      RE -21.3393   55.4781
271       Sawākin      SD  19.1059   37.3321
276       Alīganj      IN  27.5000   79.1833
280        Baberu      IN  25.5500   80.7167
430         Aswān      EG  24.0934   32.9070
471          Atar      MR  20.5169  -13.0499
547      Buraidah      SA  26.3260   43.9750

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]

    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    time.sleep(1)

print("-------Search Complete-------")

Retrieving Results for Index 29: Geraldton.
Closest hotel in Geraldton is Ocean Centre Hotel.
------------
Retrieving Results for Index 86: San Patricio.
Closest hotel in San Patricio is Americas Best Value Inn Sinton.
------------
Retrieving Results for Index 89: Beira.
Closest hotel in Beira is Hotel Tivoli Beira.
------------
Retrieving Results for Index 138: Carnarvon.
Closest hotel in Carnarvon is The Gascoyne Hotel.
------------
Retrieving Results for Index 167: Saint-Pierre.
Closest hotel in Saint-Pierre is Hôtel Le Saint-Pierre.
------------
Retrieving Results for Index 271: Sawākin.
Closest hotel in Sawākin is Arab Plaza Hotel عرب بلازا هوتيل.
------------
Retrieving Results for Index 276: Alīganj.
Missing field/result... skipping.
------------
Retrieving Results for Index 280: Baberu.
Closest hotel in Baberu is Neelam Palace.
------------
Retrieving Results for Index 430: Aswān.
Closest hotel in Aswān is Sofitel Legend Old Cataract Aswan.
------------
Retrieving Results for Index 471: Atar.
Closest hotel in Atar is Auberge et Camping Inimi.
------------
Retrieving Results for Index 547: Buraidah.
Closest hotel in Buraidah is Best Western Plus Buraidah.
------------
-------Search Complete-------

In [9]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
29,Geraldton,AU,-28.7667,114.6000,Ocean Centre Hotel
86,San Patricio,US,28.0170,-97.5169,Americas Best Value Inn Sinton
89,Beira,MZ,-19.8436,34.8389,Hotel Tivoli Beira
138,Carnarvon,AU,-24.8667,113.6333,The Gascoyne Hotel
167,Saint-Pierre,RE,-21.3393,55.4781,Hôtel Le Saint-Pierre
271,Sawākin,SD,19.1059,37.3321,Arab Plaza Hotel عرب بلازا هوتيل
276,Alīganj,IN,27.5000,79.1833,
280,Baberu,IN,25.5500,80.7167,Neelam Palace
430,Aswān,EG,24.0934,32.9070,Sofitel Legend Old Cataract Aswan
471,Atar,MR,20.5169,-13.0499,Auberge et Camping Inimi
547,Buraidah,SA,26.3260,43.9750,Best Western Plus Buraidah

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))